#RewriteEngine on
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond favicon.ico 
#RewriteRule .* custom_content/favicon.ico [L]

# Header set X-FRAME-OPTIONS "deny"

RewriteEngine On 
Options +FollowSymLinks
RewriteRule ^favicon.ico custom_content/favicon.ico [L]

RewriteRule ^([^/.]+)/?$			index.php?p=$1				[QSA,L]
RewriteRule ^([^/.]+)/([^/.]+)/?$		index.php?p=$1&s=$2			[QSA,L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/?$	index.php?p=$1&s=$2&id=$3			[QSA,L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/([^/.]+)/?$	index.php?p=$1&s=$2&id=$3&param1=$4			[QSA,L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/([^/.]+)/([^/.]+)/?$	index.php?p=$1&s=$2&id=$3&param1=$4&param2=$5			[QSA,L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/([^/.]+)/([^/.]+)/([^/.]+)/?$	index.php?p=$1&s=$2&id=$3&param1=$4&param2=$5&param3=$6			[QSA,L]

php_value upload_max_filesize 5M
php_value post_max_size 64M
