#RewriteEngine on
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond favicon.ico 
#RewriteRule .* custom_content/favicon.ico [L]

RewriteEngine On 
Options +FollowSymLinks
RewriteRule ^favicon.ico custom_content/favicon.ico [L]

RewriteRule ^([^/.]+)/?$			index.php?p=$1				[QSA,L]
RewriteRule ^([^/.]+)/([^/.]+)/?$		index.php?p=$1&s=$2			[QSA,L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/?$	index.php?p=$1&s=$2&id=$3			[QSA,L]

php_value upload_max_filesize 5M
php_value post_max_size 64M
